
dist
.solid
.output
.vercel
.netlify
netlify
.vinxi

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

yarn.lock
package-lock.json
src/app-version.json
.eslintcache

# Generated one-time prompts
.github/prompts/.*.md
android-sdk/
android/
*.log

.serena/cache